* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
}

footer {
    background-color: black;
    color: white;
    padding: 30px 0;
    margin-top: 15px;
}

.food {
    height: 700px; 
    margin: 2rem 0;
}

.food img{
    height: 100%;
}
.container {
    max-width: 90%;
    margin: 0 auto;
}

.main-menu {
    text-decoration: none;
    margin: 40px 0;
}

.a {
    text-decoration: none;
    color: white;
}

.a:hover{
    transition: color 0.5s;
    color:rgb(216, 72, 72);
}

.main-menu a {
    color: black;
    margin-right: 10px;
}

.main-menu a:hover {
    transition: color 0.5s;
    color: rgb(216, 72, 72);
}

.table {
    text-align: center;
    border: 1.5px solid black;
    border-collapse: collapse;
    width: 60%;
} 
thead th:nth-child(1) {
  width: 5%;
}

thead th:nth-child(2) {
  width: 40%;
}

thead th:nth-child(3) {
  width: 35%;
}

thead th:nth-child(4) {
  width: 10%;
}

td, th {
    
    border: 1.5px solid black;
    padding-bottom: 1rem;
    padding-top: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.unsort-list {
    padding: 0;
}

.mt-0 {
    margin-top: 0;
}

.mb-2 {
    margin-bottom: 2px;
}